body {
	font-family: "Lato", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 100%;
}

.header {
	background-color: #ffe761;
	text-align: left;
	padding: 20px;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: relative;
}

#myInput {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 90%;
	font-size: 16px;
	padding: 12px 20px 12px 10px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
	margin-top: 50px;
	margin-left: 5px;
}

#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	margin-top: -1px;
	background-color: #ffe761;
	padding: 5px;
	padding-left: 15px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	display: block;
	overflow: scroll;
}

#myUL li a:hover:not(.header) {
	background-color: #ffe7b1;
}

.sidenav {
	line-height: 35px;
	text-align: left;
	overflow: scroll;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffe761;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	padding-top: 7px;
	text-decoration: none;
	color: black;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #818181;
}

#main {
	transition: margin-left .5s;
	padding-bottom: 20em;
	display: block;
	background-color: #ffe761;
	text-align: left;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: relative;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 60px;
	right: 0px;
	position: absolute;
	display: block;
	margin-left: 0px;
}

h1 {
	position: absolute;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-left: 20px;
	top: 0;
}

